.error-container {
    z-index: -1;
    margin: auto auto;
    text-align: center;
    height: 0px;
    opacity: 0;
    transition: all 0.5s ease;
}

.show {
    position: relative;
    transform: translate(0px, 10px);
    opacity: 1;
}
