.App {
    display: flex;
    flex-flow: column;
}

.content {
    display: flex;
    justify-content: space-between;
}

.container1 {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.error-container {
    z-index: -1;
    margin: auto auto;
    text-align: center;
    height: 0px;
    opacity: 0;
    transition: all 0.5s ease;
}

.show {
    position: relative;
    transform: translate(0px, 10px);
    opacity: 1;
}

.button-container {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch-icon {
    position: relative;
    top: 3px;
    left: 5px;
}

.here {
    padding: none;
    outline: none;
    border: none;
    height: 28px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #c8c8c8;
}

.here:active {
    box-shadow: 1px 1px 1px #c8c8c8;
}

.here span {
    margin-top: 4px;
    font-size: medium;
    color: #4f4f4f;
}

@media only screen and (max-width: 600px) {
    .content {
        flex-flow: column;
    }
}
